parameters:
    level: max
    paths:
        - bin
        - src
        - tests
        - tools
    stubFiles:
        - stubs/tree_sitter.stub
    excludePaths:
        analyseAndScan:
            - tests/Fixtures/RuntimeApplication/*
