parameters:
    level: max
    paths:
        - bin
        - src
        - tests
        - tools/release
        - tools/ReleaseCommand.php
        - tools/ReleaseMetadataUpdater.php
    stubFiles:
        - stubs/tree_sitter.stub
    excludePaths:
        analyseAndScan:
            - tests/Fixtures/RuntimeApplication/*
