<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Fixtures</exclude>
            <exclude>tests/Tool</exclude>
            <exclude>tests/Compatibility</exclude>
        </testsuite>
        <testsuite name="tools">
            <directory>tests/Tool</directory>
            <directory>tests/Compatibility</directory>
        </testsuite>
    </testsuites>
</phpunit>
